
.swiper-pagination-progressbar {
    background: transparent;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background: transparent;
}

.banner-right-img {
    position: relative;
    z-index: 2;
    top: 70px;
    left: -0px;
}
